.align-left {
    background-color: #B06865;
    text-decoration:none; 
    color: black !important;
    font-family: 'Lato', sans-serif;

}

.menu li a{
    color: black;
    font-style: bold;
}
.header {
    background-color: black;
    color: #B06865;
    text-align: center;
   
}
.serif {
    font-family: 'Noto Serif', serif;
    font-size: 40px
    
}
.italic {
    font-style: italic ;
}